<div class="main-container">
  <div class="team-component-container">
    <h3>{{firstTeamName}}</h3>
    <app-team [team]="firstTeam"></app-team>
  </div>
  
  <div>
    <div class="button-container">
      <button (click)="generateTeams()" class="btn" [disabled]="firstLoad">Generar equipos al azar</button>
      <button (click)="fightOneRound()" class="btn" [disabled]="!canFight">Pelear 1 ronda</button>
      <button (click)="fullFight()" class="btn" [disabled]="!canFight">Batalla Completa</button>
    </div>
    <div class="text-container">
      {{fightText}}
    </div>

    <h1 *ngIf="!canFight && !firstLoad && teamsReady" class="centered">{{endText}}</h1>

    <div class="email-form-container">
      <form [formGroup]="form" (ngSubmit)="sendEmail()" autocomplete="off">
        <input type="email" formControlName="email" placeholder="youremail@domain.com">
        <button type="submit" class="btn" [disabled]="canFight || form.invalid || emailSent">Enviar email</button>
      </form>
    </div>

    <h5 *ngIf="emailSent" class="centered">Email enviado</h5>

  </div>
  <div class="team-component-container">
    <h3>{{secondTeamName}}</h3>
    <app-team [team]="secondTeam"></app-team>
  </div>
</div>


