.main-container {
  display: flex;
  justify-content: space-around;

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

    .btn {
      width: 200px;
      margin-bottom:15px
    }
  }

  .text-container {
    width: 600px;
    max-height: 300px;
    overflow: scroll;
    padding-left: 12px;
    white-space: pre;
  }
}